
/* home.module.css */
.container {
    display: flex;              /* Horizontale Anordnung der Spalten */
    gap: 2rem;                  /* Abstand zwischen Spalten */
    padding: 2rem;              /* Innenabstand des Containers */
    max-width: 1200px;          /* Einheitliche Breite für den Container */
    margin: 0 auto;             /* Zentrierung des Containers */
    align-items: stretch;       /* Spalten gleich hoch machen */
}

.leftSection {
    flex: 1;
    display: flex;              /* Elemente in Spalte horizontal anordnen */
    flex-direction: column;     /* Elemente in Spalte vertikal anordnen */
    gap: 2rem;                  /* Abstand zwischen Elementen */

}

.rightSection {
    display: flex;              /* Elemente in Spalte horizontal anordnen */
    flex-direction: column;     /* Elemente in Spalte vertikal anordnen */
    justify-content: space-between; /* Platz zwischen Elementen verteilen */
    gap: 1rem;                  /* Abstand zwischen Elementen */
}

.sliderContainer {
    width: 100%;
}

.mainSlider {
    width: 100%;
    height: 100%; /* Fülle die gesamte Höhe der Spalte aus */
    aspect-ratio: auto; /* Verhindere eine Verzerrung */
    border-radius: 8px;
    overflow: hidden;
}


.aboutUs {
    background: var(--secondary);
    padding: 2rem;
    border-radius: 8px;
    color: var(--light);
    margin: 0.5rem 0;
}

.aboutUs h2 {
    color: var(--light);
    margin-bottom: 1rem;
}

.companyInfo {
    margin-top: 1rem;
}

.companyInfo ul {
    list-style: none;
    margin-top: 1rem;
}

.companyInfo li {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    position: relative;
}

.companyInfo li:before {
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--success);
}

@media (max-width: 968px) {
    .container {
        flex-direction: column;
    }

    .leftSection,
    .rightSection {
        flex: 1;
        width: 50%;
    }
}

/* Additional Style Tweaks */
.aboutUs:hover {
    box-shadow: 0 0 12px var(--secondary-dark);
}
