
/* home.module.css */


.leftSection {
    flex: 1;
    display: flex;              /* Elemente in Spalte horizontal anordnen */
    flex-direction: column;     /* Elemente in Spalte vertikal anordnen */
    gap: 2rem;                  /* Abstand zwischen Elementen */

}

.rightSection {
    display: flex;              /* Elemente in Spalte horizontal anordnen */
    flex-direction: column;     /* Elemente in Spalte vertikal anordnen */
    justify-content: space-between; /* Platz zwischen Elementen verteilen */
    gap: 1rem;                  /* Abstand zwischen Elementen */
}

.sliderContainer {
    width: 100%;
}

.mainSlider {
    width: 100%;
    height: 100%; /* Fülle die gesamte Höhe der Spalte aus */
    aspect-ratio: auto; /* Verhindere eine Verzerrung */
    border-radius: 8px;
    overflow: hidden;
}


.aboutUs {
    background: var(--secondary);
    padding: 2rem;
    border-radius: 8px;
    color: var(--light);
    margin: 0.5rem 0;
}

.aboutUs h2 {
    color: var(--light);
    margin-bottom: 1rem;
}

.companyInfo {
    margin-top: 1rem;
}

.companyInfo ul {
    list-style: none;
    margin-top: 1rem;
}

.companyInfo li {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    position: relative;
}

.companyInfo li:before {
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--success);
}


/* Additional Style Tweaks */
.aboutUs:hover {
    box-shadow: 0 0 12px var(--secondary-dark);
}
