.hotButton {
    display: flex; /* Zentriert das Bild */
    justify-content: center;
    align-items: center;

    background: none; /* Kein Hintergrund */
    border: none; /* Keine Umrandung */
    cursor: pointer;
    padding: 0; /* Kein Innenabstand */
    margin: 0; /* Kein Außenabstand */

    transition: all 0.5s ease; /* Animiert die Veränderung */
    
    
    
  }
  
  .hotButtonImage {
    width: 100px; /* Breite des Bildes */
    height: 50px; /* Höhe des Bildes */
    background-color: none; /* Keine Hintergrundfarbe */
  }