

/* Navigation */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: fit-content;    
    background-color: var(--primary);
    color: var(--light);
    box-shadow: 0 1px 3px rgba(212, 232, 236, 0.15);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.navContainer {
    display: flex;
    flex-direction: row;
}
/* Left Navigation */
.leftNav img {
    margin-right: 10px;
}

.middleNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Middle Navigation */
.middleNav h1 {
    font-size: 1rem;
    margin: 0;
    color: var(--light);
    justify-content: center;
    align-items: center;

}

.middleNav h5 {
    font-size: .8rem;
    margin: 0;
    color: var(--light);
    justify-content: center;
    align-items: center;
}
/* Right Navigation */

.rightNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    

}

.rightNav a {
    
    padding: 7px 12px;
    ;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: var(--light);	
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--primary);
    margin: 0 5px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s ease;
}

.rightNav a:active{
    content: "";
    width: auto;
    height: 100%;
    background-color: var(--color1);
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}
.rightNav a:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }




/* Responsive Styles */
@media (max-width: 768px) {
    .middleNav h1 {
        font-size: 1.5rem;
    }
}
