
/* slider.module.css */
.container {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mainSlider {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.slider {
    margin: 2rem auto;
    border-radius: 0.5rem;
}

.sliderImage {
    object-fit: fill;
    object-position: center;
    border-radius: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

