.slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    border: 5px solid rgb(33, 205, 82);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgb(58, 18, 132);
    padding: 10px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-button {
    background-color: rgba(210, 0, 0, 0.5);
    border: none;
    color: rgb(43, 227, 86);
    padding: 10px;
    cursor: pointer;
}
